{% extends "layout.html" %}

{% block title %}
    Compared
{% endblock %}

{% block main %}
    <div class="center">
        <h2>Chosen Meats</h2>
        <h3><i>Calories</i></h3>
        <canvas id="Chart1" style="width:100%;max-width:700px"></canvas>
        <h3><i>Protein</i></h3>
        <canvas id="Chart2" style="width:100%;max-width:700px"></canvas>
        <h3><i>Fats</i></h3>
        <canvas id="Chart3" style="width:100%;max-width:700px"></canvas>
    </div>
    <h3>Tabulated data</h3>
    <table id="chosen_meats" class="table table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Name</th>
                <th onclick="sortTable(1)">Calories</th>
                <th onclick="sortTable(2)">Protein</th>
                <th onclick="sortTable(3)">Fats</th>
                <th onclick="sortTable(4)">Saturated fats</th>
                <th onclick="sortTable(5)">Monounsaturated fats</th>
                <th onclick="sortTable(6)">Polyunsaturated fats</th>
            </tr>
        </thead>
        <tbody>
        <!-- for loop using jinja syntax -->
            {% for meat in meats %}
                <tr>
            <!-- inserting name -->
                    <td>{{ meat.name }}</td>
            <!-- inserting calories -->
                    <td>{{ meat.calories }}</td>
            <!-- inserting proteins -->
                    <td>{{ meat.protein }}</td>
            <!-- inserting fats -->
                    <td>{{ meat.fats}}</td>
            <!-- inserting sf -->
                    <td>{{ meat.saturated_fats }}</td>
            <!-- inserting muf -->
                    <td>{{ meat.monounsaturated_fats }}</td>
            <!-- inserting puf -->
                    <td>{{ meat.polyunsaturated_fats }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("chosen_meats");
            switching = true;
        // Set the sorting direction to ascending:
            dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
            while (switching) {
            // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                    shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (Number(x.innerHTML) < Number(y.innerHTML)) {
                        // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

    {% block javascripts %}

    <script>
        var chart_data_fats = {{ chart_data_fats|tojson }};
        var chart_data_protein = {{ chart_data_protein|tojson }};
        var chart_data_calories = {{ chart_data_calories|tojson }};
      </script>
      
    {% endblock javascripts %}

    <script>
        var barColors = ["red", "green", "blue", "orange", "brown"];

        new Chart("Chart1", {
            type: "bar",
            data: {
                labels: chart_data_calories['labels'],
                datasets: [{
                    backgroundColor: barColors,
                    data: chart_data_calories['values']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: "Calories (Kcal)"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                }
            }
        });
    </script>

    <script>
        var barColors = ["red", "green", "blue", "orange", "brown"];

        new Chart("Chart2", {
            type: "bar",
            data: {
                labels: chart_data_protein['labels'],
                datasets: [{
                    backgroundColor: barColors,
                    data: chart_data_protein['values']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: "Protein (g)"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                }
            }
        });
    </script>

    <script>
        var barColors = ["red", "green", "blue", "orange", "brown"];

        new Chart("Chart3", {
            type: "bar",
            data: {
                labels: chart_data_fats['labels'],
                datasets: [{
                    backgroundColor: barColors,
                    data: chart_data_fats['values']
                }]
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: "fats (g)"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                }
            }
        });
    </script>
{% endblock %}
